<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/tx 
    ">
    
    <bean id="propertyPlaceholderConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">

            <value>classpath:mybatis/jdbc.properties</value>   
		</property>
    </bean>
    
    
    <bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
		<property name="driver" value="${jdbc.driverClassName}"></property>
		<property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="poolPingEnabled" value="true"/>	<!-- 커넥션 ping 테스트 -->
        <property name="poolPingQuery" value="select 1"/>	<!-- 커넥션이 살아 있는지 확인할 쿼리 -->
        <property name="poolPingConnectionsNotUsedFor" value="100000"/> <!-- 텀 -->
        <property name="poolTimeToWait" value="20000"/><!-- 사용 불가능한 커넥션 기다리는 시간 -->
        <property name="poolMaximumActiveConnections" value="30"/>
        <property name="poolMaximumIdleConnections" value="15"/>
        <property name="poolMaximumCheckoutTime" value="20000"/>
	</bean>
    
    
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">     
      <property name="dataSource" ref="dataSource" />
      <property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />                                         
      <property name="mapperLocations" value="classpath:mybatis/mapper/*.xml" />  
<!-- 	  <property name="transactionFactory">                                                     -->
<!--             <bean class="org.apache.ibatis.transaction.managed.ManagedTransactionFactory" /> -->
<!--       </property> -->
    </bean>
    
    
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource"></property>
    </bean>
	
	<tx:annotation-driven />
	
	<aop:config proxy-target-class="true">
		<aop:pointcut id="serviceOperation" expression="execution(* com.xlabeller..*Service.*(..))" />
		<aop:advisor id="transactionAdvisor" pointcut-ref="serviceOperation" advice-ref="txAdvice"/>
	</aop:config>
         
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	    <tx:attributes>
	    	<tx:method name="insert*" rollback-for="Exception"/>
	    	<tx:method name="import*" rollback-for="Exception"/>
	        <tx:method name="save*" rollback-for="Exception"/>
	        <tx:method name="update*" rollback-for="Exception"/>
	        <tx:method name="delete*" rollback-for="Exception"/>
	    </tx:attributes>
	</tx:advice>
   
    
    
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
      <constructor-arg index="0" ref="sqlSessionFactory" /> 
    </bean>
    

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.xii" />
    </bean>
    
    
    
<!-- =========================== DAO DEFINITIONS : IBATIS IMPLEMENTATIONS ============ -->    

<!--     <bean id="userDaoImpl" class="com.fureun.mybatis.UserDaoImpl">                              -->
<!--     //DB 연결하는 빈을 설정 아래와 같이 봐야한다. -->
<!--         <property name="sqlSessionFactory" ref="sqlSessionFactory" /> -->
<!--     </bean> -->
</beans>

